ssh/.config.swp
tmux/plugins
vim/.vimrc.swp
vim/history
vim/bundle
vim/.netrwhist
vim/spell/en.utf-8.add.spl
drupal_console/cache
vim/pack
vim/plugged
vim/tmp/viminfo
vim/tmp/backup/*
vim/tmp/undo/*
vim/tmp/view/*
tmux/resurrect
