/* Catppuccin Mocha Theme for Waybar */

* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font Mono", "FontAwesome";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces {
    background-color: #1e1e2e;
    margin: 5px 5px 5px 10px;
    padding: 0px 5px;
    border-radius: 10px;
}

#workspaces button {
    padding: 0px 5px;
    color: #cdd6f4;
    background-color: transparent;
}

#workspaces button.active {
    color: #1e1e2e;
    background-color: #cba6f7;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #1e1e2e;
    background-color: #fab387;
    border-radius: 10px;
}

#workspaces button:hover {
    background-color: #45475a;
    border-radius: 10px;
}

#window {
    margin: 5px;
    padding: 0px 10px;
    color: #fab387;
    background-color: #1e1e2e;
    border-radius: 10px;
}

#custom-caffeine,
#custom-syncthing,
#cpu,
#disk,
#memory,
#pulseaudio,
#battery,
#custom-power,
#clock {
    padding: 0px 10px;
    margin: 5px 0px;
    color: #1e1e2e;
    background-color: #b4befe;
}

#custom-caffeine {
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
}

#clock {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#cpu {
    color: #1e1e2e;
    background-color: #a6e3a1;
}

#cpu.warning {
    background-color: #f9e2af;
}

#cpu.critical {
    background-color: #f38ba8;
}

#disk {
    color: #1e1e2e;
    background-color: #89dceb;
}

#disk.warning {
    background-color: #f9e2af;
}

#disk.critical {
    background-color: #f38ba8;
}

#memory {
    color: #1e1e2e;
    background-color: #cba6f7;
}

#memory.warning {
    background-color: #f9e2af;
}

#memory.critical {
    background-color: #f38ba8;
}

#pulseaudio {
    color: #1e1e2e;
    background-color: #89b4fa;
}

#pulseaudio.muted {
    background-color: #6c7086;
}

#battery {
    color: #1e1e2e;
    background-color: #a6e3a1;
}

#battery.charging {
    background-color: #f9e2af;
}

#battery.warning:not(.charging) {
    background-color: #fab387;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #1e1e2e;
        color: #f38ba8;
    }
}

#custom-syncthing {
    color: #1e1e2e;
    background-color: #94e2d5;
}

#custom-power {
    color: #1e1e2e;
    background-color: #f38ba8;
}

tooltip {
    background: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 10px;
}

tooltip label {
    color: #cdd6f4;
}
